[packages]
presidio-analyzer = ">=2.2"
pyyaml = ">=6"
pathspec = "*"

[dev-packages]
pytest = ">=6"
flake8= {version = ">=3.7"}
pre_commit = ">=2"
pytest-cov = "*"
pytest-mock = "*"
presidio-cli = {editable = true, path = "."}

[scripts]
presidio = "python -m presidio_cli"
