# Exclude everything by default
*
# Make an exception for presidio source code
!analyzer/*
!model*
!setup*
!requirements.txt
# Make an exception for private SDKs if they exist
!privates/*
# Make an exception for the license file
!LICENSE.txt
!MANIFEST.in
!README.md
# Exclude build droppings, as mentioned in .gitignore
/build*
**/*.pyc
**/__pycache__