[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = ">=3.4.4, <4.0.0"
regex = "*"
tldextract = "*"
flask = ">=1.1"
pyyaml = "*"
phonenumbers = ">=8.12,<9.0.0"
typing-extensions = "*"
spacy-huggingface-pipelines = "*"
azure-ai-textanalytics = "*"
azure-core = "*"
# stanza = "*"
# spacy-stanza = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
ruff = "*"
pre_commit = "*"
python-dotenv = "*"
