[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
spacy = "==2.2.3"
regex = "*"
pyre2 = {file = "https://github.com/torosent/pyre2/archive/release/0.2.23.zip"}
grpcio = "*"
protobuf = "*"
tldextract = "*"
knack = "*"

[dev-packages]
pytest = "*"
flake8= {version = "==3.7.9"}
pylint = {version = "==2.3.1"}
