https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.0.0/en_core_web_lg-2.0.0.tar.gz
spacy
grpcio
grpcio-tools
tldextract
knack
cython
re2
git+https://github.com/andreasvc/pyre2.git