trigger:
  - V2

pr:
  branches:
    include:
      - V2

jobs:
    - job: validate
      displayName: 'Validate PR pre-requisites'
      steps:
        - template: .pipelines/templates/validate-version.yml
          parameters:
            UPSTREAM_BRANCH: $(System.PullRequest.TargetBranch)

    - job: inclusivelint
      displayName: 'Inclusive linting validation'
      steps:
        - task: Bash@3
          displayName: 'inclusive lint'
          inputs:
            targetType: 'inline'
            script: |
              npm install inclusivelint
              inclusivelint -r -p .
       
    - job: 'Test'
      dependsOn: 'validate'
      pool:
        vmImage: 'ubuntu-16.04'
      strategy:
        matrix:
          Python36:
            python.version: '3.6'
          Python37:
            python.version: '3.7'
          Python38:
            python.version: '3.8'

      steps:
        - task: UsePythonVersion@0
          inputs:
            versionSpec: '$(python.version)'
          displayName: 'Use Python $(python.version)'

        - task: Bash@3
          displayName: 'Setup pipenv'
          inputs:
            targetType: 'inline'
            script: |
              set -eux  # fail on error
              python -m pip install --upgrade pip
              python -m pip install pipenv
              pipenv --python 3

        - task: Bash@3
          displayName: 'Install deps: Analyzer'
          inputs:
            targetType: 'inline'
            workingDirectory: 'presidio-analyzer'
            script: |
              pipenv sync --dev --sequential
              pipenv run python -m spacy download en_core_web_lg
        
        - template: .pipelines/templates/build-python.yml
          parameters:
            SERVICE: 'Analyzer'
            WORKING_FOLDER: 'presidio-analyzer'

        - task: Bash@3
          displayName: 'Install deps: Anonymizer'
          inputs:
            targetType: 'inline'
            workingDirectory: 'presidio-anonymizer'
            script: |
              pipenv sync --dev --sequential

        - template: .pipelines/templates/build-python.yml
          parameters:
            SERVICE: 'Anonymizer'
            WORKING_FOLDER: 'presidio-anonymizer'

        