# Presidio PR validation: security analysis, lint, build, unit test, functional tests
pr:
  branches:
    include:
      - V2

variables:
  - group: Presidio-V2-CI
        
stages:
  - template: .pipelines/templates/lint-build-test.yml
  - stage:
    - job: FunctionalTests
      displayName: Functional Tests
      pool:
        vmImage: 'ubuntu-16.04'
      variables:
        REGISTRY_NAME: '$(ACR_REGISTRY_NAME).azurecr.io/'
        TAG: ':$(Build.BuildId)'
      steps:
        - task: DockerCompose@0
          displayName: Build Presidio Images
          inputs:
              action: Build services
              dockerComposeFile: docker-compose.yml
              dockerComposeFileArgs: |
                REGISTRY_NAME=$(REGISTRY_NAME)
                TAG=$(TAG)
        - template: .pipelines/templates/functional-tests.yml
