site_name: Microsoft Presidio
site_url: https://microsoft.github.io/presidio
site_description: PII anonymization for text and images.
site_author: Microsoft

repo_url: https://github.com/microsoft/presidio/
edit_uri: ""
nav:
    - Home: index.md
    - Getting Started: getting_started.md
    - Presidio Revamp (V2): presidio_V2.md
    - Installation: installation.md
    - PII Detection in Text:
      - Home: analyzer/index.md
      - Developing PII recognizers:
        - Tutorial : analyzer/adding_recognizers.md
        - Best practices in developing recognizers : analyzer/developing_recognizers.md
      - Multi-language support: analyzer/languages.md
      - Tracing the decision process: analyzer/decision_process.md
    - PII Anonymization in Text: anonymizer/index.md
    - PII Redaction in Images: image-redactor/index.md

    - Samples:
      - Python: samples/python/index.md
      - Docker: samples/docker/index.md
      - Sample Deployments: samples/deployments/index.md
    - Supported entities: supported_entities.md
    - Development and design:
      - Setting up a development environment: development.md
      - API reference:
        - Presidio Analyzer Python API: api/analyzer_python.md
        - Presidio Anonymizer Python API: api/anonymizer_python.md
        - Presidio Image Redactor Python API: api/image-redactor_python.md
      - Build and release process: build_release.md
      - Architecture and design: design.md
    - REST API reference: api-docs/api-docs.html
theme:
  name: material
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
  font:
    text: Roboto
    code: Roboto Mono
  hide:
    - toc
  features:
    - navigation.expand
    - navigation.instant
plugins:
- search
- mkdocstrings

markdown_extensions:
  - meta
  - admonition
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.pathconverter
  - pymdownx.tabbed
