[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=1.1.2"
pytesseract = ">=0.3.7,<1.0.0"
presidio-analyzer = ">=2.2.0"
pillow = ">=9.0,<10.0.0"
pydicom = ">=2.3.0,<3.0.0"
pypng = ">=0.20220715.0,<1.0.0"
python-gdcm = ">=3.0.22,<4.0.0"
matplotlib = ">=3.6.2,<4.0.0"
typing-extensions = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
flake8 = { version = ">=3.9.2" }
pep8-naming = "*"
flake8-docstrings = "*"
