[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.19.3"
flask = "==1.1.2"
pytesseract = "==0.3.7"
presidio-analyzer = "==2.2.2"
pillow = "==8.2.0"
matplotlib = "==3.3.4"
pydantic = "1.7.4"

[dev-packages]
pytest = "*"
flake8 = { version = "==3.7.9" }
pep8-naming = "*"
flake8-docstrings = "*"