# Azure OpenAI Configuration for LangExtract

langextract:
  prompt_file: "langextract_prompts/default_pii_phi_prompt.txt"
  examples_file: "langextract_prompts/default_pii_phi_examples.yaml"
  
  entity_mappings:
    person: PERSON
    full_name: PERSON
    location: LOCATION
    address: LOCATION
    organization: ORGANIZATION
    phone: PHONE_NUMBER
    email: EMAIL_ADDRESS
    date: DATE_TIME
    ssn: US_SSN
    credit_card: CREDIT_CARD
    medical_record: MEDICAL_LICENSE
    ip_address: IP_ADDRESS
    url: URL
    iban: IBAN_CODE
    pii: PII
  
  supported_entities:
    - PERSON
    - LOCATION
    - ORGANIZATION
    - PHONE_NUMBER
    - EMAIL_ADDRESS
    - DATE_TIME
    - US_SSN
    - CREDIT_CARD
    - MEDICAL_LICENSE
    - IP_ADDRESS
    - URL
    - IBAN_CODE
    - PII
  
  min_score: 0.5

azure_openai:
  model_id: "gpt-4.1"
  azure_endpoint: null
  api_key: null
  api_version: "2024-02-15-preview"
  temperature: null