# Ollama Configuration
# https://github.com/google/langextract#using-local-llms-with-ollama

lm_recognizer:
  supported_entities:
    - PERSON
    - EMAIL_ADDRESS
    - PHONE_NUMBER
    - US_SSN
    - LOCATION
    - ORGANIZATION
    - DATE_TIME
    - CREDIT_CARD
    - IP_ADDRESS
    - URL
  
  labels_to_ignore:
    - payment_status
    - metadata
    - annotation
  
  enable_generic_consolidation: true
  min_score: 0.5

langextract:
  prompt_file: "presidio-analyzer/presidio_analyzer/conf/langextract_prompts/default_pii_phi_prompt.j2"
  examples_file: "presidio-analyzer/presidio_analyzer/conf/langextract_prompts/default_pii_phi_examples.yaml"
  
  model:
    model_id: "gemma3:1b"
    model_url: "http://localhost:11434"
    temperature: null
  
  entity_mappings:
    person: PERSON
    name: PERSON
    email: EMAIL_ADDRESS
    phone: PHONE_NUMBER
    ssn: US_SSN
    location: LOCATION
    address: LOCATION
    organization: ORGANIZATION
    date: DATE_TIME
    credit_card: CREDIT_CARD
    ip_address: IP_ADDRESS
    url: URL
