[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=1.1"
presidio-analyzer = ">=2.2.31"
presidio-anonymizer = ">=2.2.31"
pandas = ">=1.5.2"

[dev-packages]
pytest = "*"
flake8 = { version = ">=3.7.9" }
pep8-naming = "*"
flake8-docstrings = "*"
pre_commit = "*"
