[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=1.1"
pycryptodome = ">=3.10,<4.0.0"

[dev-packages]
pytest = "*"
flake8 = { version = ">=3.7.9" }
pep8-naming = "*"
flake8-docstrings = "*"
pre_commit = "*"
